.primary {
  background-color: var(--font);
}

.primary * {
  color: var(--bg1);
}

.accent {
  background-color: var(--primary);
}

.accent * {
  color: whitesmoke;
}

.ghost {
  background-color: var(--bg1);
  outline: solid 1px var(--border);
}

.succes {
  background-color: var(--succes);
}

.succes * {
  color: white;
}

.danger {
  background-color: var(--danger);
}

.warning * {
  color: white;
}

.warning {
  background-color: var(--warning);
}

.danger * {
  color: white;
}

.justIcon {
  padding: 4px;
  width: 35px;
  height: 35px;
  justify-content: center;
}

.hPrimary:hover * {
  color: var(--primary);
}

span {
  text-wrap: nowrap;
}

.rounded {
  border-radius: 46px;
}

.spanCenter span {
  width: 100%;
  text-align: center;
}
